<%= erb :header %>
<%= erb :topnav %>

<br />
<br />


<h1>our fun classes</h1>

<ul>
<% @classes.each do |shortname, attribs| %>
<li> <a href="/classes/<%= shortname %>"><%= attribs[:name]  %></a> </li>
<% end %>
</ul>
	
<%= erb :footer %>
